.flip {
  background-color: #FDF6EA;
  float: left;
  width: 610px;
  height: 760px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow:12px 9px 10px 0 #676262;
}

.shapeR {
    display: flex;
    width: 600px;
    height: 750px; 
    justify-content: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 5px solid #F0DB6D;
    border-left: rgba(245, 245, 245, 1);
    background-color: white;
    background-size:cover;
    /*css파일에서 image불러올 때 public폴더에 있는 이미지는 못 불러옴(정확한 경로 작성해야함)*/
    background-image: url("../../../public/images/paper.jpeg");
    box-shadow: 7px 9px 10px 0px #676262;
    z-index: -1;
}