asgiref==3.6.0
#맥 
#backports.zoneinfo==0.2.1
#윈도우
backports.zoneinfo==0.2.1;python_version<"3.9"
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
cryptography==39.0.0
Django==4.1.5
django-environ==0.9.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.0
idna==3.4
mysqlclient==2.1.1
pycparser==2.21
PyMySQL==1.0.2
pytz==2022.7
requests==2.28.2
#맥 
#sqlparse==0.4.3
#윈도우
sqlparse==0.2.4
urllib3==1.26.14
boto3==1.26.53
django==1.13.2
