.sm-paper {
    --line-length: 10;
    box-sizing: content-box;
    border: 2px groove transparent;
    /* background-color: white; */
    display: flex;
    /* padding: 0.2em 0; */
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(var(--line-length));
    font-size: calc(450px / var(--line-length) / 1.5);
  }
.grid__content {
    position: absolute;
    width: 500px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 2rem;
    letter-spacing: 30px;
    padding-left: 18px;
    line-height: 59px;
    z-index: 20;
    word-break: break-all;
    resize: none;
    border: none;
    outline: none;
    overflow: clip;
  }
.table {
    margin: 0 auto;
  }
  
.td {
    box-sizing: border-box;
    flex: 1 0 auto;
    vertical-align: middle;
    display: inline-flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    border: 2px double black;
    margin: 0.2em 0;
    border-spacing: 20px;
    border-collapse: separate;
    margin-right: 2.5px;
    margin-left: 2.5px;
  }
