.Img{
  width: 450px;
  height: 420px;
  background-size: cover;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

.Img>img{
  width: 450px;
  height: 420px;
  border-radius: 14px;
}

[type=radio]{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
[type=radio] + img{
  cursor: pointer;
}
[type=radio]:checked +img{
  outline: 2px solid black;
}

.item{
  background-size: cover;
  padding: 3px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 170px;
  height: 170px;
  object-fit: cover;
}

.item:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.381), 0 6px 20px 0 rgba(0, 0, 0, 0.381);
}

.item2{
  background-size: cover;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 170px;
  height: 170px;
  border: 4px solid black;
  object-fit: cover;
}

div>h2{
  position: relative;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

/* 책 피는 효과 */
.open {
  transform: rotateY(-180deg);
}

.flip {
  position: fixed;
  transform-origin: left center;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.move {
  animation-duration: 0.8s;
  animation-name: slide;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}

@keyframes slide {
  0% {
    margin-left: 0%;
  }

  100% {
    margin-left: 38.6em;
  }
}