.linkBox {
    width: 180%;
    margin: 10px auto;
    display: flex;
    text-align: center;
}

.link {
    position: relative;
    flex:1;
    width:60%;
    font-size: 35px;
    color: black;
    text-decoration-line: none;
    top: 165px;
    right: 261px;
}