.link {
    width:30%;
    font-size: 35px;
    color: black;
    text-decoration-line: none;
}

.icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
}