@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*화면 높이 100vh로 줄 때 생기는 스크롤 없애기*/
html, body{
    margin: 0;
    height:100vh;
    width: 100vw;
    padding: 0;
    font-family: 'KyoboHand';
}

body{
    /* position: fixed; */
    overflow: hidden;
    background-image: url("../public/images/background.PNG");
    background-repeat: no-repeat;
    background-size: cover;
}

.link {
    width:12.77rem;
    font-size: 2.8rem;
    color: black;
    text-decoration-line: none;
}

#help {
    color: rgba(0, 0, 0, 0);
}

.writeImg {
  width: 11.25rem;
}

@media screen and (max-width: 1400px), screen and (max-height: 500px) {
    #left {
        height: 43rem;
    }
    #title {
        font-size: 4.5rem;
    }
    #control {
        top: 0.58rem;
    }
    #year {
        font-size: 1.69rem;
        margin: 1.99rem;
    }
    #logo {
        width: 23.76rem;
        height: 25.45rem;
    }
    #linkBox {
        width: 37.92rem;
        padding-bottom: 0.9rem;
        left: 0.13rem;
    }
    .link {
        width: 11.55rem;
        font-size: 2.53rem;
    }
}

@media screen and (max-width: 1200px), screen and (max-height: 400px) {
    #left {
        height: 33rem;
    }
    #title {
        font-size: 3.5rem;
    }
    #control {
        top: 0.45rem;
    }
    #year {
        font-size: 1.29rem;
        margin: 1.45rem;
    }
    #logo {
        width: 18.23rem;
        height: 19.53rem;
    }
    #linkBox {
        width: 29.1rem;
        padding-bottom: 0.69rem;
        left: 0.1rem;
    }
    .link {
        width: 8.87rem;
        font-size: 1.94rem;
    }
}